<h3> Customers </h3>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Membership</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <tr *ngFor="let customer of customers">
            <th scope="row"> {{customer.name}}</th>
            <th>{{customer.phone}}</th>
            <th>{{customer.address}}</th>
            <th>{{customer.membership}}</th>
            <th>
                <a>Edit</a>
                <br>
                <a>Delete</a>
            </th>
        </tr>
    </tbody>
</table>